!!! 5
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %link{:href => "http://fonts.googleapis.com/css?family=Lato:regular,bold", :rel => "stylesheet", :type => "text/css"}
    %title MealOrdering

  %body
    .container
      - if current_user
        %ul.user_logging
          %li= current_user.name
          %li= link_to "| Log out", logout_path

      %h1 Meal Ordering

      = yield
